@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
  color: #037ec5;
}

@theme {
  --color-primary: #007bff;
  --color-secondry: #00bfff;
  --color-third: #037ec5;
}
